.header {
    display: flex;
    width: 1340px;
    height: 109px;
    margin: 92px 50px;
    flex-shrink: 0;
}
.header__links-list-item {
    display: inline-block;
}

.header__links-list {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 78px;
    margin-left: auto;
    margin-right: auto;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;
}

.cover {
    position: relative;
    width: 1440px;
    height: 757px;
    margin: 96px 0 180px 0;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 1440px;
    height: 757px;
    opacity: 0.6;
    background: #000;
    z-index: 0;
}

.cover__title {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    text-align: start;
    width: 1340px;
    margin: 165px 50px 20px 50px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
    z-index: 1;
}

.aligned-text_center {
    text-align: center;
    width: 1280px;
    margin: 20px 110px 20px 50px;
}

.aligned-text_right {
    text-align: end;
    margin: 20px 50px 237px 50px;
}

.letter-spacing-extended {
    letter-spacing: 20px;
}

.cover__description {
    display: inline;
}

.cover__description-text {
    z-index: 1;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.273%;
    text-transform: uppercase;
    word-spacing: 25px;
}

.bet-button {
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: #fff;
}

.lots {
    margin: 180px 50px;
    }

.lots__heading {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    list-style: none;

}

.lots__card-list-item {
    width: 430px;
    height: 450px;
    flex-grow: 1
}

.card-link {
    width: 350px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card {
    width: 350px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}